@font-face {
    font-family: 'Benedict Regular';
    src: url('Benedict Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal; /* Assuming it's a regular style, change to 'italic' if it's italic */
  }

@font-face {
    font-family: 'Neue';
    src: url('Hanken Design Co - Neue Einstellung Semi Bold.otf') format('opentype');

}

@font-face {
    font-family: 'Acherus';
    src: url('Horizon Type - AcherusGrotesque-Regular.otf');
}

.containerr{
    position: relative;
    min-height: 100vh;
    background: #111;
}

.containerr h1{
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 40px;
    font-weight: 600;
}

.containerr .video-containerr{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.containerr .video-containerr .video{
    height: 250px;
    width: 350px;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(118, 95, 68, .7);
    cursor: pointer;
    overflow: hidden;
}



.containerr .video-containerr .video iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    overflow: hidden;
}

.containerr .video-containerr .video .vid-cont:hover iframe{
    transform: scale(1.1);
}

.containerr .video-containerr .video .vid-cont{
    height: 75%;
}

.containerr .popup-video{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    display: none;
}

.containerr .popup-video iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    border-radius: 5px;
    border: 3px solid #fff;
    object-fit: cover;
}

.containerr .popup-video span{
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}

.video p{
    font-family: 'Nenu';
    font-weight: bold;    
}

.video a{
    display: block;
    font-family: 'Acherus';
    font-weight: bolder;
    text-decoration: none;
    color:#765F44;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    transition: .3s linear;
    font-size: 17px;
}

.video a:hover {
    color: #DDC8B0;
    /* transform: scale(1.1); */
}

@media (max-width:768px){
    .containerr .popup-video iframe{
        width: 95%;
    }
}